.presentation {
    background-color: #574F7D;
    height: 400px;
    padding: 120px;
}

nav {
    background-color: #574F7D;
}

nav ol {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 100px;
}

nav li {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #2B1641;
    padding: 35px 15px 35px 0;
}

article {
    display: flex;
    justify-content: space-between;
    width: 900px;
    float: left;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    color: #ffffff;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 10px;
}

p {
    margin-top: 30px;
    width: 400px;
    line-height: 24px;
}

.general_info p {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
}

span {
    font-weight: 600;
}

.photo {
    display: inline-block;
    border-radius: 5px;
    border: 10px solid #fff;
}

.main_buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.b_primary {
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #DFF0EA;
    color: #574F7D;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.b_secondary {
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid #DFF0EA;
    font-family: 'Titillium Web', sans-serif;
    color: #DFF0EA;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
}

aside {
    float: right;
}

aside li {
    margin-bottom: 15px;
}