.container {
    padding: 0 15%;
}
.presentation {
    background-color: #574F7D;
    height: 500px;
    padding-top: 125px;
}

nav {
    background-color: #574F7D;
}

ol {
    display: flex;
    flex-direction: row;
}

nav ol {
    justify-content: flex-end;
}

nav li {
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #2B1641;
    padding: 35px 0 35px 15px;
}

article {
    display: flex;
    justify-content: space-between;
    width: 900px;
    float: left;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 45px;
    color: #ffffff;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
    margin-top: 10px;
}

p {
    margin-top: 50px;
    width: 400px;
    line-height: 24px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.general_info p {
    color: #ffffff;
 
}

span {
    font-weight: 600;
}

.photo {
    display: inline-block;
    border-radius: 5px;
    border: 10px solid #fff;
}

.main_buttons {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 280px;
}

.b_primary {
    padding: 15px 20px;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    background-color: #DFF0EA;
    color: #574F7D;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.b_secondary {
    padding: 15px 20px;
    border-radius: 5px;
    border: 2px solid #DFF0EA;
    font-family: 'Titillium Web', sans-serif;
    color: #DFF0EA;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    background: none;
}

aside {
    float: right;
}

aside li {
    margin-bottom: 15px;
}

.texto_vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #321D49;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.logos ol{
    padding: 60px 0;
    justify-content: space-between;
}

.centrar {
    position: relative;
    left: calc(50% - 200px);
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 47px;
}

.boxes{
    padding: 100px 0;
} 
.box {
    width: 320px;
    height: 340px;
    box-shadow: 0 4px 8px 0 rgba(87, 79, 125, 0.2), 0 6px 20px 0 rgba(87, 79, 125, 0.2);
    padding: 30px;
    box-sizing: border-box;

}



